:root {
  --primary-100: #005a8f;
  --primary-200: #007ac2;
  --primary-300: #009af5;
  --accent-100: #8c868a;
  --accent-200: #8c868a;
  --accent-300: #8c868a;
  --background-100: #f8fafc;
  --background-200: #e6edf4;
  --background-300: #d4e0ed;
  --text-100: #001421;
  --text-200: #003354;
  --text-300: #005287;
}
